<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <script src="public/javascripts/main.js"></script>
    <title>Administrador de contactos</title>
</head>
<body>
    <main>
        <h1>Administrador de contactos</h1>
    </main>
    <div>
        <form action="GET">
            <input type="text" name="Nombre" id="nombre" placeholder="Nombre">
            <input type="text" name="Apellido" id="Apellido" placeholder="Apellido">
            <input type="text" name="Celular" id="Celular" placeholder="Celular">
            <input type="submit" id="boton" value= "Agregar">

        </form>
    </div>
    
</body>
</html>